@model TalentAcquisition.Core.Domain.OfficePosition

@{
    ViewBag.Title = "Create Job";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
</style>
<section class="mainbody">
    <div class="container">
        <div class="col-md-4"style="o">
            <div class="container">
                <ul class="nav">
                    @Html.Partial("_AdminDashboardSidebar")
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div style="padding-top:2em;"></div>
            <p style="font-family: 'Fira Mono';font-size: 22px;">Add Job</p>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
                @*<li><a href="#">Private</a></li>*@
                @*<li><a href="#">Pictures</a></li>*@
                <li><a href="@Url.Action("Jobmanager","Admin")">Job Manager</a></li>
                <li class="active">Create Job</li>
            </ol>
            <section class="container body-content">
                <div class="row" style="font-size:80%">
                    @using (Html.BeginForm())
                    {
                        <style>
                            select {
                                padding:0;
                                margin:0;
                                width: 100%;
                                min-width: 100%;
                                font-size: 80%;
                            }
                            .form-group{
                                padding-bottom:0;
                                margin-bottom:0;  
                            }
                        </style>
                        @Html.AntiForgeryToken()
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Job Details
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DepartmentID, "Department", htmlAttributes: new { @class = " col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Departments, "DepartmentID", "DepartmentName"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IndustryID, "Industry", htmlAttributes: new { @class = " col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("IndustryID", new SelectList(ViewBag.Industries, "IndustryId", "Name"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.IndustryID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BranchID, "Branch", htmlAttributes: new { @class = " col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("BranchID", new SelectList(ViewBag.Departments, "DepartmentID", "DepartmentName"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = " col-md-3" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("SupervisorID", new SelectList(ViewBag.Industries, "IndustryId", "Name"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Posts, htmlAttributes: new { @class = "control-label col-md-3" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Posts, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Reqirements, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control", rows = "3", cols = "5" })
                                            @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Job Requirements
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th><input type="button" /></th>
                                    </tr>
                                        
                                    <tbody>

                                    </tbody>
                                </table>
                             </div>
                        </div>
                                @*<th>
                            @Html.DisplayNameFor(model => model.JobDescription)
                        </th>*@
                                @*<th>
                            Employees<br /> Count
                        </th>*@
                                @*<th>
                            @Html.DisplayNameFor(model => model.SupervisorID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BranchID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MainObjective)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Grade)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RequisitionCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>*@
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                                }
                            </div>
</section>
        </div>

    </div>
</section>

