@model TalentAcquisition.Core.Domain.OfficePosition

@{
    ViewBag.Title = "Create Job";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
</style>
<section class="mainbody">
    <div class="container">
        <div class="col-md-4">
            <div class="container">
                <ul class="nav">
                    @Html.Partial("_AdminDashboardSidebar")
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div style="padding-top:2em;"></div>
            <p style="font-family: 'Fira Mono';font-size: 22px;">Manage Jobs</p>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
                @*<li><a href="#">Private</a></li>*@
                @*<li><a href="#">Pictures</a></li>*@
                <li><a href="@Url.Action("Jobmanager","Admin")">Job Manager</a></li>
                <li class="active">Create Job</li>
            </ol>
            <section class="">
                <div class="row">
                    <a href="javascript:void()" id="submitjob" class="btn"><img src="~/Assets/Icons/File-Plus.png" width="20"/>Submit Job</a>
                    <a href="javascript:void()" id="reqjob" class="btn"><img src="~/Assets/Icons/File-Plus.png" width="20" />Create Requisition</a>
                </div>
                <div class="row" style="font-size:80%">
                    <form action="" method="post" id="createform" ng-controller="JobController">
                        <style>
                            select {
                                padding:0;
                                margin:0;
                                width: 100%;
                                min-width: 100%;
                                font-size: 80%;
                            }
                            .form-group{
                                padding-bottom:-1.0em;
                                margin-bottom:0.4em;
                            }
                            textarea{
                                margin-top:-2em;
                                padding-top:-2em;
                            }
                            input{
                                margin:0;
                                padding:0;
                            }
                            label{
                                font-size:90%;
                            }
                        </style>
                        @Html.AntiForgeryToken()
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Job Details
                            </div>
                            <div class="panel-body" style="margin-bottom:-1.5em">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="row"></div>
                                        <div class="row"></div>
                                        <div class="row"></div>
                                        <div class="row"></div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JobID, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Posts, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.Posts, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Reqirements, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8" style="margin-top:2em">
                                                        @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control", rows = "4", cols = "5" })
                                                        @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="col-md-12" style="font-size:90%">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.MainObjective, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.MainObjective, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.MainObjective, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IndustryID, "Industry", htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("IndustryID", new SelectList(ViewBag.Industries, "IndustryId", "Name"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.IndustryID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DepartmentID, "Department", htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Departments, "DepartmentID", "DepartmentName"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group" style="font-size:90%">
                                                    @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("SupervisorID", new SelectList(ViewBag.Positions, "OfficePositionID", "Title"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BranchID, "Branch", htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("BranchID", new SelectList(ViewBag.Branches, "BranchId", "Location"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary" style="margin-top:-1.7em;">
                            <div class="panel-heading">
                                Job Requirements
                            </div>
                            <div class="panel-body">
                                <style>
                                    #mytable input,#mytable select{
        border:none;
        outline:none;
        box-shadow:none;
        background-color:inherit;
        padding:0;
        margin:0;
    }
                                </style>
                                <a id="additem" href="javascript:void()" class="pull-right btn btn-default btn-xs"style="margin-top:-0.8em"><img src="~/Assets/Icons/File-Plus.png" width="20" /> Add</a>
                                @*<hr/>*@
                                @*@Html.Action("_GetRequirements")*@
                                <div id="empform" ng-submit="submitGrievanceTypes()">
                                    <table id="mytable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Code</th>
                                                <th>Type</th>
                                                <th>Description</th>
                                                <th>Score ID</th>
                                                <th>Priority</th>
                                                <th>Need Code</th>
                                                <th>Stage Code</th>
                                                <th>Desired Code</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="type in grievanceTypes">
                                            <td>{{$index+1}}</td>
                                              <td>
                                                <input class="form-control input-sm" name="Line[{{$index}}].Priority" ng-required="true" ng-model="type.Priority" ng-disabled="!enabledEdit[{{$index}}]" />
                                              </td>
                                              <td>
                                                  <input type="checkbox" class="form-control input-sm" ng-required="true" name="Line[{{$index}}].Mandatory" ng-model="type.Mandatory" />
                                              </td>
                                            <td>
                                                <div class="buttons">
                                                    @*<button class="btn btn-primary btn-xs" ng-click="edit($index)">Edit</button>*@
                                                    <a id="removeitem" href="javascript:void()" ng-click="delete($index)"><img src="~/Assets/Icons/Delete.png" width="20" height="20" class="pull-right" /></a>
                                                    @*<button class="btn btn-danger btn-xs" ng-click="delete($index)"><img src="~/Assets/Icons/Delete.png" width="20" height="20" class="pull-right" /></button>*@
                                                </div>
                                            </td>
                                           </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
</section>
        </div>

    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        var reqcount = 1;
        $(document).ready(function()
        {
            var frm = $("#createforms");
            $("#submitjob").on("click", function () {
                alert("");
                $("#createform").submit();
            });
            frm.submit(function (e) {

               e.preventDefault();

                $.ajax({
                    type: frm.attr('method'),
                    url: "@(Url.Action("Job/Create","Admin"))",
                    data: frm.serializeArray()
                });
                
            });
            $("a#additem").on("click", function () {
                //var newdiv='<tr><td class="hidden"><input type="hidden" id="ID" name="ID" /></td><td class="hidden"><input type="hidden" id="QualificationID" name="QualificationID" /></td><td style="width:10em"><select></select></td><td style="width:10em"><select></select></td><td><td><input type="text" id="Priority" name="Priority" class="form-control input-sm" /></td><td><input type="text" id="ScoreID" name="ScoreID" class="form-control input-sm" /></td><td><input type="text" id="NeedCode" name="NeedCode" class="form-control input-sm" /></td><td><input type="text" id="StageCode" name="StageCode" class="form-control input-sm" /></td><td><input type="text" id="DesiredScore" name="DesiredScore" class="form-control input-sm" /></td><td><input type="checkbox" id="Mandatory" name="Mandatory" class="" /></td><td><a id="removeitem" href="javascript:void()"><span class="fa fa-times fa-lg pull-right"></span></a></td></tr>';
                //alert(newdiv);
                //$("tbody#requirementslist").append(newdiv
                var i=reqcount;
                var newdiv = "<tr id="+10+i+">";
                ////var tr = document.createElement("tr");
                //tr.innerHTML = $("tr#" + reqcount).html(); // Text inside
                //$('tbody#requirementslist').appendChild(tr); // Append it
                //$(tr).child('a#removeitem').onclick = RemoveItem;
                @*$("tbody#requirementslist").load("@(Url.Action("_CreateNewRequirement","Role",new {id=10}))");*@
                $.ajax({
                    type: "GET", url: "@(Url.Action("_CreateNewRequirement","Role"))",
                    data: {id:i},
                success: function (data) {
                    //alert(data);
                    $("tbody#requirementslist").append(data);
                    //var lasttag = $("tr a:last");
                    //alert(lasttag.html("Hacked"));
                   // lasttag.Click = RemoveItem;
                    reqcount += 1;
                    @*$("#EmploymentDetails").load(@(Url.Action("_GetEmploymentList", "Applicant"));*@
                    },
                error: function (error) {
                    alert("Error" + error.toString());
                }
            });
                //alert("done");
                //newdiv += $("tr#" + reqcount).html();
                //newdiv += "</tr>";
                ////alert(newdiv);
                //    //$("tr#" + reqcount).removeClass('hidden').addClass('show','slow');
                //$("tbody#requirementslist").append(newdiv);
                //    alert("new item added");
            });

            //$("a#removeitem").on("click", function () {
            //    $(this).closest('tr').remove();
            //    alert("item removed");
            //});
            function RemoveItem() {
               $(this).closest('tr').remove();
                alert("item removed");
            };

            $("#").change(function ()
            {
                if ($("#").val() != "") {
                    $.ajax({
                        type: "POST", url: "@(Url.Action("",""))",
                        data: {},
                        success: function (data) {
                            alert("Success" + data);
                            @*$("#EmploymentDetails").load(@(Url.Action("_GetEmploymentList", "Applicant"));*@
                        },
                        error: function (error) {
                            alert("Error" + error);
                        }
                    });
                }

            });
        });
</script>
}


@*<div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JobID, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Posts, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.Posts, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Reqirements, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.DepartmentID, "Department", htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Departments, "DepartmentID", "DepartmentName"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "col-md-6" })
                                                    <div class="col-md-12" style="margin-top:-2em;margin-bottom:-2em">
                                                        @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control", rows = "2", cols = "5" })
                                                        @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BranchID, "Branch", htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("BranchID", new SelectList(ViewBag.Branches, "BranchId", "Location"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IndustryID, "Industry", htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("IndustryID", new SelectList(ViewBag.Industries, "IndustryId", "Name"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.IndustryID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
    </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = " col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("SupervisorID", new SelectList(ViewBag.Positions, "OfficePositionID", "Title"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.MainObjective, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.MainObjective, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.MainObjective, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                      </div>*@