@model TalentAcquisition.BusinessLogic.UpdatedDomain.Training

@{
    ViewBag.Title = "New Training Request";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<p style="font-size: 22px;">Trainings</p>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Trainings</li>
    <li class="active">New Request</li>
</ol>
<section class="container body-content">
    <div class="row">
        <span class="alert-danger">@ViewBag.Error</span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="">Training Request</p>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <style>
                        label{
                            font-size:80%;
                        }
                    </style>
                    <div class="form-horizontal" ng-controller="TrainingRecordController">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApplicationNo, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input type="text" id="ApplicationNo" name="ApplicationNo" value="@Model.ApplicationNo" class="form-control" ng-readonly="true" />
                                        @*@Html.EditorFor(model => model.ApplicationNo, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.ApplicationNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApplicationDate, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input type="text" id="ApplicationDate" name="ApplicationDate" value="@Model.ApplicationDate" class="form-control" ng-readonly="true" />
                                        @*@Html.EditorFor(model => model.ApplicationDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeNo, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <select class="form-control" required id="EmployeeNo" name="EmployeeNo" ng-model="SelectedEmployee"
                                                ng-options="item.Number for item in employees track by item.Number" ng-change="selectedemployeechanged()"></select>

                                        @*@Html.EditorFor(model => model.EmployeeNo, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input type="text" id="EmployeeName" name="EmployeeName" ng-model="selectedEmployeeName" class="form-control" ng-readonly="true" />
                                        @*<select class="form-control" id="EmployeeNumber" name="EmployeeNumber" ng-model="SelectedEmployee"
                                                ng-options="item.Number for item in employees track by item.Number" ng-change="selectedemployeechanged()"></select>*@
                                        @*@Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeDepartment, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input type="text" id="EmployeeDepartment" name="EmployeeDepartment" ng-model="selectedEmployeeDepartment" class="form-control" ng-readonly="true" />
                                        @*@Html.EditorFor(model => model.EmployeeDepartment, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.EmployeeDepartment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingGroupNo, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TrainingGroupNo, new { htmlAttributes = new { @class = "form-control",@required=true } })
                                        @Html.ValidationMessageFor(model => model.TrainingGroupNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParticipantNo, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ParticipantNo, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.ParticipantNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingCourseCode, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("TrainingCourseCode", null, htmlAttributes: new { @class = "form-control", @required = true })
                                        @Html.ValidationMessageFor(model => model.TrainingCourseCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TrainingProviderCode, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownList("TrainingProviderCode", null, htmlAttributes: new { @class = "form-control", @required = true })
                                        @Html.ValidationMessageFor(model => model.TrainingProviderCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProviderName, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ProviderName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ProviderName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input type="text" required data-date-format="DD-MM-YYYY" value="@DateTime.Now.ToShortDateString()" id="StartDate" name="StartDate" class="form-control" />
                                        @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.StopDate, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input type="text"required data-date-format="DD-MM-YYYY" value="@DateTime.Now.ToShortDateString()" id="StopDate" name="StopDate" class="form-control" />
                                        @*@Html.EditorFor(model => model.StopDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.StopDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DurationUnits, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        <input id="DurationUnits" name="DurationUnits" class="form-control" value="Hours" ng-readonly="true"/>
                                        @Html.ValidationMessageFor(model => model.DurationUnits, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApprovedCost, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ApprovedCost, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                        @Html.ValidationMessageFor(model => model.ApprovedCost, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EstimatedCost, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.EstimatedCost, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.EstimatedCost, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<script>
    employeesbs=@Html.Raw(Json.Encode(ViewBag.Employees));
    coursesbs=@Html.Raw(Json.Encode(ViewBag.Courses));
        $(function(){
            $("#StartDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: 2,
                maxDate: "+1M"});
            $("#StopDate").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: 2,
                maxDate: "+1M"
            });
        });
</script>