@model IEnumerable<TalentAcquisition.Core.Domain.JobSeeker>
<table class="table" style="font-size:90%;border:none">
    <tr style="font-family:'Century Gothic'">
        <th>
            @Html.DisplayNameFor(model => model.ApplicantNumber)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.UploadedCVAddress)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.HighestQualification)
        </th>
        <th>
            @Html.DisplayName("Full Name")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
  </tr>

        @foreach (var item in Model)
        {
          <tr style="height:2em;border:1px solid #91dbdb;">
                @*<td>
                    @Html.DisplayFor(modelItem => item.Industry.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.UploadedCVAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedPassportAddress)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.HighestQualification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td><a class="btn btn-success btn-xs" id="screen" href="/Admin/ScreenApplicant/@item.ID/">Screen</a></td>
            </tr>
        <tr style="height:0.5em;"></tr>
    }

</table>