<li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
<li>@Html.ActionLink("Create New Employee Record", "Restricted/add_employee", "Admin")</li>
<li>@Html.ActionLink("View All Employee Records", "Restricted/manage_employee", "Admin")</li>
<li>@Html.ActionLink("Manage Office Positions", "manage_officeposition", "Admin")</li>
<ul>
    <li>@Html.ActionLink("Add New Office Position", "manage_officeposition/Create", "Admin")</li>
    <li>@Html.ActionLink("Manage Department", "manage_departments", "Admin")</li>
    <li>@Html.ActionLink("Manage Industries", "manage_industries", "Admin")</li>
</ul>
<li>@Html.ActionLink("Profile", "Profile", "Admin")</li>
<li>@Html.ActionLink("Create New Job Requisition", "Requisition/Create", "Admin")</li>
<li>@Html.ActionLink("Manage Job Requisitions", "Requisitions", "Admin")</li>
<li>@Html.ActionLink("Interview/Recommendation Requests", "Recommendation/Request", "Admin")</li>