@{ 

}
<ul class="sidebar nav">
    <li>@Html.ActionLink("Personal Information","Profile")</li>
    @*<li>@Html.RouteLink("Educational Qualifications",new {action="Profile/Education",controller= "Application" })</li>*@
    <li>@Html.ActionLink("Educational Qualifications", "Profile/Education")</li> 
    <li>@Html.ActionLink("Work Experience","Profile/Employment")</li>
    <li>@Html.ActionLink("Passport Photo", "Profile/Overview")</li>
    <li>@Html.ActionLink("O-Level Details", "Profile/OLevel")<a></a></li>
    <li>@Html.ActionLink("Certification", "Profile/Certification")</li>
    <li>@Html.ActionLink("Document", "Profile/Document")</li>
    <li>@Html.ActionLink("Complete Profile","Profile/Overview")</li>
</ul>
<br />