@*<li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
<li>@Html.ActionLink("Create New Team Member", "Restricted/add_employee", "Admin")</li>
<li>@Html.ActionLink("View All Employee Records", "Restricted/manage_employee", "Admin")</li>
<li>@Html.ActionLink("Manage Office Positions", "manage_officeposition", "Admin")</li>
<ul>
    <li>@Html.ActionLink("Add New Office Position", "manage_officeposition/Create", "Admin")</li>
    <li>@Html.ActionLink("Manage Department", "manage_departments", "Admin")</li>
    <li>@Html.ActionLink("Manage Industries", "manage_industries", "Admin")</li>
</ul>
<li>@Html.ActionLink("Create New Job Requisition", "Requisition/Create", "Admin")</li>
<li>@Html.ActionLink("Manage Job Requisitions", "Requisitions", "Admin")</li>
<li>@Html.ActionLink("Interview/Recommendation Requests", "Recommendation/Request", "Admin")</li>*@

@{

}
<style>
    .sidebar-nav li a{
        font-size:110%;
        color:rgba(4, 5, 47,0.8);
    }
</style>
<br/>
<div class="navbar-default sidebar" role="navigation" style="font-size:80%;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action("Dashboard","Admin")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("Jobmanager","Admin")"><i class="fa fa-window-maximize fa-fw"></i>Job Board</a>
            </li>
            <li>
                <a href="@Url.Action("Profile","Employees")"><i class="fa fa-dashboard fa-fw"></i>Profile</a>
            </li>
            <li>
                <a href="@Url.Action("LeaveManager","Admin")"><i class="fa fa-dashboard fa-fw"></i>Leave Mangement</a>
            </li>
            <li>
                <a href="@Url.Action("Trainings","Admin")"><i class="fa fa-pie-chart fa-fw"></i> Trainings</a>
            </li>

            <li>
                <a href="@Url.Action("Performance","Admin")"><i class="fa fa-universal-access fa-fw"></i> Performance Management</a>
            </li>

            <li>
                <a href="@Url.Action("ComplaintManager","Admin")"><i class="fa fa-credit-card fa-fw"></i> Grievance Management</a>
            </li>
            <li>
                <a href="@Url.Action("ExpenseManager","Admin")"><i class="fa fa-line-chart fa-fw"></i>Expense Management</a>
            </li>
            @*<li>
                <a href="@Url.Action("Retirement","Admin")"><i class="fa fa-dashboard fa-fw"></i><span class="fa arrow"></span>Retirement and Pension</a>
            </li>*@
            <li>
                <a href="@Url.Action("Trainings","Admin")"><i class="fa fa-balance-scale fa-fw"></i> Employee Exit</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-->
