@model TalentAcquisition.Core.Domain.JobRequisition
@{
    string url = Html.DisplayFor(model => model.JobTitle).ToString();
    url=url.Replace(" ","-");
}
<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p class="" style="color:white"><a style="color:white" href="@Url.RouteUrl("JobDetails",
                    new { id = Model.JobRequisitionID, name = url })"> @Html.DisplayFor(model => model.JobTitle)</a></p>
        </div>
        <div class="panel-body" >
            <div class="" style="height:100px">
                <h4><span class="glyphicon glyphicon-calendar"></span>  @Model.ClosingDate.ToShortDateString() <span class="glyphicon glyphicon-map-marker"></span>  @Html.DisplayFor(model => model.Location)</h4>
                <p>@Html.DisplayFor(model => model.JobDescription)</p>
            </div>
        </div>
    </div>
            
    </div>
    @*<td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingDate)*@


