@model TalentAcquisition.Models.ViewModel.ApplicantEvalFormViewModel

<div class="row body-content">
    <div class="col-xs-4 container"><img src="~/Uploads/passport.png" width="200" class="pull-left" /></div>
    <div class="col-xs-4 col-md-12">
        <h6><b>Name: </b>@Model.Name</h6>
        <h6><b>Age: </b>@Model.Age</h6>
        <h6><b>Highest Qualification: </b><br/> @Model.HighestQualification</h6>
        <h6><b>Position Applied For: </b><br/> @Model.PositionAppliedFor</h6>
        <h5><a href="~/Uploads/Resume.pdf" target="_blank"><img src="~/Assets/Icons/Books.png" height="15" /> Resume</a></h5>
    </div>
    <div class="col-xs-4 col-md-12">
        <h5><b>Skills</b></h5>
        <ul style="padding-left:0">
            @foreach (var skill in Model.skills)
            {
                <li>@skill</li>
            }
        </ul>
       
    </div>
    <div class="col-xs-6 col-md-12">
        <h5><b>Qualifications</b></h5>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-12">
        <h5><b>Work Experience</b></h5>
    </div>
</div>

