@model IEnumerable<TalentAcquisition.BusinessLogic.UpdatedDomain.Evaluation>
@{
    int stage = (int)ViewBag.stageid;
}
<table class="table table-striped">
    <tr class="">
        <th>
            @Html.DisplayNameFor(model => model.EvaluationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvaluationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score1)
        </th>
        <th>
            @if (stage >= 2)
            {
                @Html.DisplayNameFor(model => model.Score2)
            }     
        </th>
        <th>
            @if (stage == 3)
            {
                @Html.DisplayNameFor(model => model.Score3)
            }      
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="hidden">
        @Html.DisplayFor(modelItem=>item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score1)
        </td>
        @if (stage >= 2)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Score2)
            </td>
            if (stage == 3)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Score3)
                </td>
            }
        }
        <td>
            <a href="javascript:void(0)" id="deleteitem">Delete</a>
        </td>
    </tr>
}

</table>
