@model TalentAcquisition.BusinessLogic.UpdatedDomain.InterviewEvaluation
@{
    ViewBag.Title = "Interview Evaluation Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<section class="mainbody">
    <div class="container">
        <div class="col-md-12">
@using (Html.BeginForm("_submitcandidateevaluationform","Application",FormMethod.Post))
            {
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(model=>model.EmployeeID)
    @Html.HiddenFor(model => model.EvaluationNo)
    @Html.HiddenFor(model => model.InterviewID)
    @Html.HiddenFor(model => model.StageID)*@
            <div class="container">
                <div style="padding-top:5em"></div>
                <span>@ViewBag.Message</span>
                <div class="row" style="font-size:80%">
                        <style>
                            select {
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                min-width: 100%;
                                font-size: 80%;
                            }

                            .form-group {
                                padding-bottom: -1.0em;
                                margin-bottom: 0.4em;
                            }

                            textarea {
                                margin-top: -2em;
                                padding-top: -2em;
                            }

                            input {
                                margin: 0;
                                padding: 0;
                            }

                            label {
                                font-size: 90%;
                            }
                        </style>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Interview Evaluation Summary
                            </div>
                            <div class="panel-body" style="margin-bottom:-1.5em">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                            <div class="col-md-12">
                                                @Html.HiddenFor(model=>model.ID)
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EvaluationNo, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.EvaluationNo, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.EvaluationNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.InterviewID, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.InterviewID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.InterviewID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EmployeeID, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.StageID, htmlAttributes: new { @class = "col-md-3" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.StageID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.StageID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RecommendForStage2, htmlAttributes: new { @class = "col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.CheckBoxFor(model => model.RecommendForStage2, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.RecommendForStage2, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RecommendForStage3, htmlAttributes: new { @class = "col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.CheckBoxFor(model => model.RecommendForStage3, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.RecommendForStage3, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RecommendForHire, htmlAttributes: new { @class = "col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.CheckBoxFor(model => model.RecommendForHire, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.RecommendForHire, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-md-6 col-xs-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JobAcceptance, htmlAttributes: new { @class = "col-md-6" })
                                                    <div class="col-md-6">
                                                        @Html.CheckBoxFor(model => model.JobAcceptance, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.JobAcceptance, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6">
                                            <div class="">
                                                <style>
                                                    input[type=radio] {
                                                        margin: 0px !important;
                                                        padding: 0px !important;
                                                    }

                                                    span {
                                                        margin: 0px !important;
                                                        padding: 0px !important;
                                                    }
                                                </style>
                                                <div class="col-md-12">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a data-toggle="tab" href="#home">Strength</a></li>
                                                        <li><a data-toggle="tab" href="#menu1">Weakness</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="home" class="tab-pane fade in active">
                                                            <br />
                                                            <textarea class="form-control" id="Strength" name="Strength" rows="5" cols="40"></textarea>
                                                        </div>
                                                        <div id="menu1" class="tab-pane fade">
                                                            <br />
                                                            <textarea class="form-control" id="Weakness" name="Weakness" rows="5" cols="40"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-12">
                                                    <h6>
                                                        Based on your Assesment of this candidate, do you think that this candidate should be offered a Job?
                                                    </h6>
                                                    <h5 class=""> Yes <input type="radio" value="true" name="Recommendation" id="Recommendation" /><span> No <input type="radio" value="false" name="Recommendation" id="Recommendation" /></span></h5>
                                                </div>*@
                                                <br/>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Score1, htmlAttributes: new { @class = "col-md-3" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.Score1, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                @Html.ValidationMessageFor(model => model.Score1, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Score2, htmlAttributes: new { @class = "col-md-3" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.Score2, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                @Html.ValidationMessageFor(model => model.Score2, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Score3, htmlAttributes: new { @class = "col-md-3" })
                                                            <div class="col-md-8">
                                                                @Html.EditorFor(model => model.Score3, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                                @Html.ValidationMessageFor(model => model.Score3, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>         
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary" style="margin-top:-1.7em;">
                            <div class="panel-heading">
                                Evaluation Areas
                            </div>
                            <div class="panel-body">
                                <a id="additem" href="javascript:void()" class="pull-right btn btn-default btn-xs" style="margin-top:-0.8em"><img src="~/Assets/Icons/File-Plus.png" width="20" /> Add</a>
                                @Html.Action("_GetEvaluations","Application",new{id=Model.InterviewID})
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default btn-primary" />
                    </div>
                </div>
            </div>
            }
            </div>
</div>
</section>
<script type="text/javascript">
    $(function () {
        //$("#EvaluationNo").attr("disabled", true);
        //$("#EmployeeID").attr("disabled", true);
        //$("#InterviewID").attr("disabled", true);
        //$("#StageID").attr("disabled", true);
    });
</script>