@model IEnumerable<TalentAcquisition.BusinessLogic.UpdatedDomain.Evaluation>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EvaluationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvaluationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvaluationDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score3)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
