
@{
    ViewBag.Title = "Interview Evaluation Page";
    //int _applicantid = (int)ViewBag.jobseekerid;
    //int _interviewid = (int)ViewBag.interviewid;
}
<script type="text/javascript">
    $("#advance").prop("disabled", true);
    $(function () {
        $('.panel-heading a').on('click', function (e) {
            if ($(this).parents('.panel').children('.panel-collapse').hasClass('in')) {
                e.preventDefault();
            }
        });
        $('#closeinterview').on('click', function () {
            $("#advance").click();
        });
    });
</script>
<style>
    .description {
        color: mediumpurple;
        font-size: 85%;
    }

    .panel-title a {
        text-decoration: none;
    }

    .collapse .description {
        display: none;
    }

    .datepicker,
    .table-condensed {
        width: 300px;
        /*height: 300px;*/
        font-size: x-small;
    }
</style>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="container">
    <div style="padding-top:5em"></div>
    <div class="row" style="font-size:80%">
            <style>
                select {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    min-width: 100%;
                    font-size: 80%;
                }

                .form-group {
                    padding-bottom: -1.0em;
                    margin-bottom: 0.4em;
                }

                textarea {
                    margin-top: -2em;
                    padding-top: -2em;
                }

                input {
                    margin: 0;
                    padding: 0;
                }

                label {
                    font-size: 90%;
                }
            </style>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Interview Evaluation Summary
                </div>
                <div class="panel-body" style="margin-bottom:-1.5em">
                    <a id="additem" target="_blank" href="@(Url.Action("_getcandidateevaluationform", "Application", new { interviewid = ViewBag.interviewid, employeeid = ViewBag.jobseekerid }))" class="pull-right btn btn-default btn-xs" style="margin-top:-0.8em"><img src="~/Assets/Icons/File-Plus.png" width="20" /> Add</a>
                    @*<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add Evaluation</button>*@
                    @Html.Action("_GetInterviewEvaluations", "Application", new { interviewid = ViewBag.interviewid })
                </div>
            </div>
            <div class="panel panel-primary" style="margin-top:-1.7em;">
                <div class="panel-heading">
                    Evaluation Categories
                </div>
                <table class="table table-striped">
                    <tr>
                        <td>Evaluation Code</td>
                        <td>Evaluation Description</td>
                    </tr>
                    <tr>
                        <td>
                            D
                        </td>
                        <td>
                            Dressing
                        </td>
                    </tr>
                    <tr>
                        <td>
                            C
                        </td>
                        <td>
                            Composure
                        </td>
                    </tr>
                </table>
                <div class="panel-body">
                </div>
            </div>
    </div>
</div>
<script>
    $(function () {

    });
</script>
@*<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse5">Feedback on Candidate</a>
        </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
            @Html.Action("_GetInterviewFeedbackForm", new { requisitionid = ViewBag.requisitionid, applicationid = ViewBag.applicationid })
        </div>

    </div>
</div>*@
@*<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse5">Feedback on Candidate</a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Action("_GetInterviewFeedbackForm", new { requisitionid = ViewBag.requisitionid, applicationid = ViewBag.applicationid })
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse6">Team Feedback</a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Action("_GetTeamFeedback", new { requisitionid = ViewBag.requisitionid, applicationid = ViewBag.applicationid })
            </div>
            <a class="btn btn-default btn-success btn-sm" id="closeinterview" name="closeinterview">Proceed To Job Offer</a>
        </div>
    </div>
</div>*@