@model TalentAcquisition.Core.Domain.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .adminsidebar {
        height: 100%;
        min-height: 500px;
        padding: 1em;
        color: black;
    }

        .adminsidebar h1, .adminsidebar h2, .adminsidebar h3 {
            color: snow;
            font-size: 125%;
            text-shadow: white;
            text-align: center;
        }

        .adminsidebar .nav {
            margin: 0 auto;
            /*background:rgba(255,255,255,0.1);*/
            padding: 1em;
        }

        .adminsidebar li {
            border-bottom: 1px solid white;
            text-align: left;
            border-left: 4px solid brown;
        }

            .adminsidebar li a:hover {
                color: rgb(4, 5, 47);
                background-color: snow;
                display: block;
            }

            .adminsidebar li a {
                color: white;
                line-height: 2em;
                width: 100%;
                color: black;
            }

        .adminsidebar .nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 0;
        }

            .adminsidebar .nav ul li {
                border: 0;
                margin-left: 1em;
            }

                .adminsidebar .nav ul li a:link,
                .adminsidebar .nav ul li a:visited {
                    color: black;
                    padding: 0.5em 0.5em 0.5em 1em;
                    display: block;
                    text-decoration: none;
                    border-left: 5px solid rgb(239,213,252);
                }

                .adminsidebar .nav ul li a:hover {
                    color: rgb(49,52,61);
                    border-left: 5px solid rgb(250,136,234);
                }
    /*.bioform input,
                    select {
                        width: 100%;
                        max-width: 100%;
                    }
                    .bioform #submit input
                    {
                        max-width: 280px;
                    }*/
</style>
<section class="mainbody">
    <div class="container">
        <div class="col-md-4 adminsidebar">
            <div class="container">
                <ul class="nav">
                    @Html.Partial("_AdminDashboardSidebar")
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <section class="container body-content">
                <div class="row bioform">
                    <h2>Employee Manager</h2>
                    <br />
                    <h4>Create New Employee</h4>
                    <br />
                    <!--Comment-->
                    <span class="alert-danger"></span>
                    <span class="alert-danger">@ViewBag.Message</span>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <style>
                            label{
                                font-size:90%;
                            }
                            select{
                                /*min-width:100%;*/
                                margin-left:0;
                            }
                        </style>
                        <div class="form-horizontal">
                            
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmployeeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EmployeeNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EmploymentDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="datetime" name="EmploymentDate" id="EmploymentDate" data-date-format="DD-MM-YYYY" class="form-control" value="" no-padding placeholder="Choose Employment Date" />
                                    @*@Html.EditorFor(model => model.EmploymentDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.EmploymentDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2">Role</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("OfficePositionID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OfficePositionID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = " col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = " col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = " col-md-2" })
                                <div class="col-md-10">
                                    <input type="datetime" name="DateOfBirth" id="DateOfBirth" data-date-format="DD-MM-YYYY" class="form-control" value="" no-padding placeholder="Pick First Date for Interview" />
                                    @*@Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2">Email Address</label>
                                <div class="col-md-10">
                                   <input type="email" id="UserEmail" name="UserEmail" class="form-control" required />
                                    @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = " col-md-2" })
                                <div class="col-md-5">
                                    @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control",@rows="8" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = " col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </section>
        </div>

    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#EmploymentDate').datetimepicker({
                defaultDate: '',
                format: 'L',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
         });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DateOfBirth').datetimepicker({
                defaultDate: '',
                format: 'L',
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
        });
    </script>
}

