@model TalentAcquisition.Models.ViewModel.ManageGroupViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<p style="font-size: 22px;">User Groups List</p>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">User Groups</li>
    <li class="active">Details</li>
</ol>
<section class="container body-content">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="">Group Details</p>
            </div>
            <div class="panel-body">
                <div class="row container">
                 <h4><b>Name : @Model.Group.Name</b></h4>
                    <hr/>
                    <h6>
                       Priviledges
                    </h6>
                    <ul>
                        @foreach (var role in Model.Group.Roles)
                        {
                            <li>@role.Role.Name</li>
                        }
                    </ul>
                   <hr/>
                    <h6>
                        Members
                    </h6>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model.Members)
                            {
                             <tr>
                                 <td>@role.Number</td>
                                 <td>@role.Name</td>
                                <td>@Html.ActionLink("Remove From Group", "RemoveUser", new { id = Model.Group.Id,employeeid=role.Id })</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Group.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</section>




