@model IEnumerable<TalentAcquisition.Core.Domain.Group>
@{
    ViewBag.Title = "Groups List";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
    int count = 1;
}

<p style="font-size: 22px;">User Groups List</p>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">User Groups List</li>
</ol>
<section class="container body-content">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="">User Groups List</p>
            </div>
            <div class="panel-body">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Manage Members", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                                @Html.ActionLink("Edit Role Permissions", "AssignRoleToGroup", new { id = item.Id })
                            </td>
                        </tr>
                        count++;
                    }
                </table>
             </div>
        </div>
    </div>
</section>

