@model IEnumerable<TalentAcquisition.BusinessLogic.UpdatedDomain.WelcomeGuide>
@using Humanizer
<table class="table table-striped" style="font-size:90%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @item.DateCreated.Humanize()
        </td>
        <td>
            @item.StartDate.Humanize()
        </td>
        <td>
            <a href="/Onboarding/Guide/Customize/@item.Name/@item.ID">View</a>
        </td>
    </tr>
}

</table>
