
@model TalentAcquisition.BusinessLogic.UpdatedDomain.WelcomeGuide

@{
    ViewBag.Title = "CreateGuide";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
<p style="font-family: 'Fira Mono';font-size: 22px;">Onboarding</p>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    <li><a href="@Url.Action("Onboarding","Admin")">Onboarding</a></li>
    <li class="active">Guide</li>
    <li class="active">Create</li>
</ol>
<section class="container body-content">
    <span>@ViewBag.Message</span>
    <div class="row">
        @*<a href="@Url.Action("requisition/create","Admin")" id="reqjob" class="btn"><img src="~/Assets/Icons/File-Plus.png" width="20" />Create Requisition</a>
            <span class="glyphicon glyphicon-search"></span> <input class="form-control input-sm" id="myInput" type="text" placeholder="filter requisition entries.." style="display:inline-block;outline:none" />*@
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="">Onboarding Welcome Guide</p>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    <a href=""><img src="~/Assets/Icons/File-Plus.png" width="20" /></a><input type="submit" value="Create Guide" class="btn btn-default input-sm" style="outline:none;border:none" />
                    <hr />
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal" style="font-size:90%">
                        <style>
                            label {
                                font-size: 90%;
                            }
                        </style>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8" style="margin-left:-1.3em">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8" style="margin-left:-4em">
                                        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.Label("Template", htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8" style="margin-left:-1.2em">
                                        @Html.DropDownList("TemplateID", new SelectList(ViewBag.Templates, "ID", "Title"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                        @*@Html.DropDownList("TemplateID", null, htmlAttributes: new { @class = "form-control" })*@
                                        @Html.ValidationMessage("TemplateID", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8" style="margin-left:-4em">
                                        <input type="text" class="form-control" required data-date-format="MM/DD/YYYY" id="StartDate" name="StartDate" value="@Model.StartDate.ToShortDateString()" />
                                        @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control input-sm" } })*@
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.JobSeekerID, "JobSeekerID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.JobSeekerID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @*@Html.DropDownList("JobSeekerID", null, htmlAttributes: new { @class = "form-control" })*@
                                @Html.ValidationMessageFor(model => model.JobSeekerID, "", new { @class = "text-danger" })
                            </div>
                        </div>         
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    @Html.Label("Branch", htmlAttributes: new { @class = "col-md-4" })
                                    <div class="col-md-8" style="margin-left:-1.2em">
                                        @Html.DropDownList("BranchID", new SelectList(ViewBag.Branches, "BranchId", "Location"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                        @*@Html.EditorFor(model => model.BranchID, new { htmlAttributes = new { @class = "form-control input-sm" } })*@
                                        @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.WelcomeMessage, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-top:2em">
                                @Html.TextAreaFor(model => model.WelcomeMessage, new { @class = "form-control", rows = "8", cols = "5" })
                                @Html.ValidationMessageFor(model => model.WelcomeMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>       
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#dateinput :input').prop("disabled", true);
            //$('#StartDate').datetimepicker({
            //    defaultDate: '',
            //    showClose: true,
            //    showClear: true,
            //    toolbarPlacement: 'top',
            //    format: 'mm/dd/yyyy'
            //});
            $('#StartDate').datepicker({ });
        });
      </script>  
 }